opencv-python==4.9.0.80
numpy==1.26.4
scipy==1.12.0
yolov5==7.0.13
openpyxl==3.1.2
scipy==1.12.0
ultralytics==8.1.17
libmotorctrl @ git+https://github.com/msudesigncpr/libmotorctrl.git@6025e4a1130a8b42f2c60a80dfe6ed9fe5b16c61
